* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
    color: #111;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
}

.banner {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
}

.banner-img {
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.banner-text {
    font-family: 'Kalam', cursive;
    font-weight: 700;
    font-size: 300%;
    color: #eee;
}

.footer {
    background-color: #1E412B;
    color: #eee;
    width: 100%;
    display: flex;
}

.innerWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 -10px;
}

@media only screen and (min-width : 768px) {
    .innerWrapper {
        flex-direction: row;
    }
}

.linkList {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .linkList {
    display: flex;
}

.link {
    display: inline-block;
    padding: 10px;
    color: inherit;
    text-decoration: none;
}

.link_active {
    font-weight: bold;
}
