<!doctype html>
<html lang="de" th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=0.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Footer</title>
</head>
<body>
<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="innerWrapper">
            <ul class="linkList">
                <li>
                    <a th:class="'link' + ${#httpServletRequest.getRequestURI() == '/impressum' ? ' link_active' : ''}"
                       href="/impressum"
                       th:text="#{imprint}"
                    ></a>
                </li>
                <li>
                    <a th:class="'link' + ${#httpServletRequest.getRequestURI() == '/datenschutz' ? ' link_active' : ''}"
                       href="/datenschutz"
                       th:text="#{privacy}"
                    ></a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>
