<!doctype html>
<html lang="de" th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=0.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{images/favicon-32x32.png}" />
    <link rel="stylesheet" th:href="@{index.css}">
    <title th:text="#{error.title}"></title>
</head>
<body>
<div class="layout">
    <div th:replace="fragments/navbar :: navbar"></div>

    <main>
        <div class="container">
            <h1 th:text="#{error404.heading}"></h1>
            <p th:utext="#{error404.body(${@environment.getProperty('MAIL_USER')})}"></p>
        </div>
    </main>

    <footer th:replace="fragments/footer :: footer"></footer>
</div>

</body>
</html>
