<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bookings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Bookings</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Property</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Email</th>
            <th scope="col">Phone number</th>
            <th scope="col">Arrival</th>
            <th scope="col">Departure</th>
            <th scope="col">Comments</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking : ${bookings}">
            <td th:text="${booking.property.displayValue}"></td>
            <td th:text="${booking.firstName} + ' ' + ${booking.lastName}"></td>
            <td>
                <div th:text="${booking.streetLine}"></div>
                <div th:text="${booking.zipCode} + ' ' + ${booking.city}"></div>
            </td>
            <td th:text="${booking.email}"></td>
            <td th:text="${booking.phoneNumber}"></td>
            <td th:text="${booking.arrivalDate}"></td>
            <td th:text="${booking.departureDate}"></td>
            <td th:text="${booking.comments}"></td>
            <td>
                <a class="btn btn-primary" th:href="'/admin/bookings/' + ${booking.id}">Edit</a>
                <button type="button" class="btn btn-success" data-th-data-id="${booking.id}" th:unless="${booking.confirmed}">Confirm</button>
                <button type="button" class="btn btn-danger" data-th-data-id="${booking.id}">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/admin/bookings/new" class="btn btn-success">Add booking</a>
</div>
<script>
    (() => {
    	const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');

		document.querySelector('table').addEventListener('click', (e) => {
    		if (e.target.type === 'button') {
                const id = e.target.getAttribute('data-id');
                if (e.target.classList.contains('btn-success')) {
                	confirmBookingById(id);
                } else {
                    deleteBookingById(id);
                }
            }
        });

		function deleteBookingById(id) {
			fetch(`/admin/bookings/${id}`, {
				method: 'DELETE',
				headers: {
					'X-CSRF-TOKEN': csrfToken,
				},
			}).then(() => {
				location.reload()
			}).catch(e => {
				console.error(e)
			});
		}

		function confirmBookingById(id) {
			fetch(`/admin/bookings/${id}/confirm`, {
				method: 'POST',
				headers: {
					'X-CSRF-TOKEN': csrfToken,
				},
			}).then(() => {
				location.reload()
			}).catch(e => {
				console.error(e)
			});
		}

	})()
</script>

</body>
</html>
