<!doctype html>
<html lang="de" th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=0.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bookings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Buchungen</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Unterkunft</th>
            <th scope="col">Name</th>
            <th scope="col">Adresse</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Telefon</th>
            <th scope="col">Anreise</th>
            <th scope="col">Abreise</th>
            <th scope="col">Kommentare</th>
            <th scope="col">Optionen</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking : ${bookings}">
            <td th:text="${booking.property.displayValue}"></td>
            <td th:text="${booking.firstName} + ' ' + ${booking.lastName}"></td>
            <td>
                <div th:text="${booking.streetLine}"></div>
                <div th:text="${booking.zipCode} + ' ' + ${booking.city}"></div>
            </td>
            <td th:text="${booking.email}"></td>
            <td th:text="${booking.phoneNumber}"></td>
            <td th:text="${#temporals.format(booking.arrivalDate, 'dd.MM.YYYY')}"></td>
            <td th:text="${#temporals.format(booking.departureDate, 'dd.MM.YYYY')}"></td>
            <td th:text="${booking.comments}"></td>
            <td>
                <a class="btn btn-primary" th:href="'/admin/bookings/' + ${booking.id}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="pointer-events: none">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </a>
                <button type="button" class="btn btn-success" data-th-data-id="${booking.id}" th:unless="${booking.confirmed}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="pointer-events: none">
                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                    </svg>
                </button>
                <button type="button" class="btn btn-danger" data-th-data-id="${booking.id}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="pointer-events: none">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/admin/bookings/new" class="btn btn-success">Buchung hinzufügen</a>
</div>
<script>
    (() => {
    	const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');

		document.querySelector('table').addEventListener('click', (e) => {
    		if (e.target.type === 'button') {
                const id = e.target.getAttribute('data-id');
                if (e.target.classList.contains('btn-success')) {
                	confirmBookingById(id);
                } else {
                    deleteBookingById(id);
                }
            }
        });

		function deleteBookingById(id) {
			fetch(`/admin/bookings/${id}`, {
				method: 'DELETE',
				headers: {
					'X-CSRF-TOKEN': csrfToken,
				},
			}).then(() => {
				location.reload()
			}).catch(e => {
				console.error(e)
			});
		}

		function confirmBookingById(id) {
			fetch(`/admin/bookings/${id}/confirm`, {
				method: 'POST',
				headers: {
					'X-CSRF-TOKEN': csrfToken,
				},
			}).then(() => {
				location.reload()
			}).catch(e => {
				console.error(e)
			});
		}

	})()
</script>

</body>
</html>
