<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="#{bookingForm.title}"></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 th:text="#{bookingForm.heading}"></h1>
        <form action="/bookings" method="post">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="property" th:text="#{bookingForm.property}"></label>
                    <select class="form-control" name="property" id="property">
                        <option
                                th:value="${T(de.sweller.fewospring.booking.Property).APARTMENT}"
                                th:text="#{bookingForm.property.apartment}"
                        ></option>
                        <option
                                th:value="${T(de.sweller.fewospring.booking.Property).BUNGALOW}"
                                th:text="#{bookingForm.property.bungalow}"
                        ></option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="firstName" th:text="#{bookingForm.firstName}"></label>
                    <input type="text" class="form-control" id="firstName" name="firstName" required>
                </div>

                <div class="form-group col-sm-6">
                    <label for="lastName" th:text="#{bookingForm.lastName}"></label>
                    <input type="text" class="form-control" id="lastName" name="lastName" required>
                </div>
            </div>

            <div class="form-group">
                <label for="streetLine" th:text="#{bookingForm.streetLine}"></label>
                <input type="text" class="form-control" id="streetLine" name="streetLine" required>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="zipCode" th:text="#{bookingForm.zipCode}"></label>
                    <input type="text" class="form-control" id="zipCode" name="zipCode" required>
                </div>

                <div class="form-group col-sm-6">
                    <label for="city" th:text="#{bookingForm.city}"></label>
                    <input type="text" class="form-control" id="city" name="city" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="email" th:text="#{bookingForm.email}"></label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group col-sm-6">
                    <label for="phoneNumber" th:text="#{bookingForm.phoneNumber}"></label>
                    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="arrivalDate" th:text="#{bookingForm.arrivalDate}"></label>
                    <input type="date" class="form-control" id="arrivalDate" name="arrivalDate" required>
                </div>

                <div class="form-group col-sm-6">
                    <label for="departureDate" th:text="#{bookingForm.departureDate}"></label>
                    <input type="date" class="form-control" id="departureDate" name="departureDate" required>
                </div>
            </div>

            <div class="form-group">
                <label for="comments" th:text="#{bookingForm.comments}"></label>
                <textarea class="form-control" name="comments" id="comments" cols="30" rows="10"></textarea>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <button type="submit" class="btn btn-primary" th:text="#{bookingForm.submit}"></button>
        </form>
    </div>
</body>
</html>
