<!doctype html>
<html lang="de" th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=0.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Buchen Sie hier ein Ferienhaus für Ihren Aufenthalt in Hetzdorf mit Platz für 2-5 Personen.">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{images/favicon-32x32.png}" />
    <link rel="stylesheet" th:href="@{index.css}">
    <title th:text="#{bungalow}"></title>
</head>
<body>
<div class="layout">
    <div th:replace="fragments/navbar :: navbar"></div>

    <main>
        <div class="container">
            <h1 th:text="#{bungalow}"></h1>
            <p th:utext="#{bungalow.description}"></p>
            <div class="details">
                <div class="details-features">
                    <h2 th:text="#{features}"></h2>
                    <ul>
                        <li th:text="#{bungalow.feature.bedrooms}"></li>
                        <li th:text="#{bungalow.feature.kitchen}"></li>
                        <li th:text="#{bungalow.feature.livingroom}"></li>
                        <li th:text="#{bungalow.feature.balcony}"></li>
                        <li th:text="#{feature.patio}"></li>
                        <li th:text="#{feature.lawn}"></li>
                        <li th:text="#{feature.parking}"></li>
                        <li th:text="#{bungalow.feature.separateEntrance}"></li>
                    </ul>
                </div>
                <div class="details-pricing">
                    <h2 th:text="#{pricing}"></h2>
                    <ul>
                        <li th:text="#{bungalow.pricing.threeNights}"></li>
                        <li th:text="#{bungalow.pricing.additionalNights}"></li>
                        <li th:text="#{bungalow.pricing.children}"></li>
                        <li th:text="#{bungalow.pricing.sheetsIncluded}"></li>
                        <li th:text="#{bungalow.pricing.twoNights}"></li>
                    </ul>
                </div>
            </div>
            <a href="/buchen?unterkunft=ferienhaus" class="button" th:text="#{bookNow}"></a>
            <div class="gallery">
                <div class="gallery-imageWrapper">
                    <img class="gallery-image pops"
                         th:src="@{/images/bungalow/blick_vom_balkon-600.jpg}"
                         th:attr="srcset=@{/images/bungalow/blick_vom_balkon-600.jpg} + ' 600w, ' + @{/images/bungalow/blick_vom_balkon-400.jpg} + ' 400w'"
                         sizes="(max-width: 676px) calc(100vw - 40px), (max-width: 996px) calc((100vw - 60px) / 2), 400px"
                         th:alt="#{bungalow.blick_vom_balkon.alt}"
                    />
                </div>
                <div class="gallery-imageWrapper">
                    <img class="gallery-image pops"
                         th:src="@{/images/bungalow/kueche-600.jpg}"
                         th:attr="srcset=@{/images/bungalow/kueche-600.jpg} + ' 600w, ' + @{/images/bungalow/kueche-400.jpg} + ' 400w'"
                         sizes="(max-width: 676px) calc(100vw - 40px), (max-width: 996px) calc((100vw - 60px) / 2), 400px"
                         th:alt="#{bungalow.kueche.alt}"
                    />
                </div>
                <div class="gallery-imageWrapper">
                    <img class="gallery-image pops"
                         th:src="@{/images/bungalow/schlafstube_oben_doppelbett-600.jpg}"
                         th:attr="srcset=@{/images/bungalow/schlafstube_oben_doppelbett-600.jpg} + ' 600w, ' + @{/images/bungalow/schlafstube_oben_doppelbett-400.jpg} + ' 400w'"
                         sizes="(max-width: 676px) calc(100vw - 40px), (max-width: 996px) calc((100vw - 60px) / 2), 400px"
                         th:alt="#{bungalow.schlafstube_oben_doppelbett.alt}"
                    />
                </div>
                <div class="gallery-imageWrapper">
                    <img class="gallery-image pops"
                         th:src="@{/images/bungalow/terasse-600.jpg}"
                         th:attr="srcset=@{/images/bungalow/terasse-600.jpg} + ' 600w, ' + @{/images/bungalow/terasse-400.jpg} + ' 400w'"
                         sizes="(max-width: 676px) calc(100vw - 40px), (max-width: 996px) calc((100vw - 60px) / 2), 400px"
                         th:alt="#{bungalow.terasse.alt}"
                    />
                </div>
                <div class="gallery-imageWrapper">
                    <img class="gallery-image pops"
                         th:src="@{/images/bungalow/wohnstube_oben-600.jpg}"
                         th:attr="srcset=@{/images/bungalow/schlafstube_unten-600.jpg} + ' 600w, ' + @{/images/bungalow/schlafstube_unten-400.jpg} + ' 400w'"
                         sizes="(max-width: 676px) calc(100vw - 40px), (max-width: 996px) calc((100vw - 60px) / 2), 400px"
                         th:alt="#{bungalow.schlafstube_unten.alt}"
                    />
                </div>
                <div class="gallery-imageWrapper">
                    <img class="gallery-image pops"
                         th:src="@{/images/bungalow/wohnstube_oben_2-600.jpg}"
                         th:attr="srcset=@{/images/bungalow/wohnstube_oben_2-600.jpg} + ' 600w, ' + @{/images/bungalow/wohnstube_oben_2-400.jpg} + ' 400w'"
                         sizes="(max-width: 676px) calc(100vw - 40px), (max-width: 996px) calc((100vw - 60px) / 2), 400px"
                         th:alt="#{bungalow.wohnstube_oben_2.alt}"
                    />
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="fragments/footer :: footer"></footer>
</div>

</body>
</html>
