<!doctype html>
<html lang="en" th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<div class="calendar">
    <h2 th:text="${#temporals.format(availability.yearMonth, 'MMMM YYYY')}"></h2>
    <table>
        <thead>
        <tr>
            <th th:text="#{monday}"></th>
            <th th:text="#{tuesday}"></th>
            <th th:text="#{wednesday}"></th>
            <th th:text="#{thursday}"></th>
            <th th:text="#{friday}"></th>
            <th th:text="#{saturday}"></th>
            <th th:text="#{sunday}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="week: ${availability.weeks}">
            <td
                    th:each="day: ${week}"
                    th:text="${day.isInCurrentMonth()} ? ${day.dayOfMonth} : ''"
                    th:class="${day.isBooked() ? 'calendar-cell__booked' : ''}"
            ></td>
        </tr>
        </tbody>
    </table>
    <p>Previous: <span th:text="${availability.yearMonth.minusMonths(1)}"></span></p>
    <p>Next: <span th:text="${availability.yearMonth.plusMonths(1)}"></span></p>
</div>
</html>
