<!doctype html>
<html lang="de" th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=0.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Verbringen Sie Ihre Ferien in unserer Ferienwohnung oder unserem Ferienhaus in Hetzdorf.">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{images/favicon-32x32.png}" />
    <link rel="stylesheet" th:href="@{index.css}">
    <title th:text="#{index.title}"></title>
</head>
<body>
<div class="layout">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="banner">
        <img class="banner-img"
             th:src="@{/images/banner-640.jpg}" src=""
             th:attr="srcset=@{/images/banner-640.jpg} + ' 640w, ' + @{/images/banner-1200.jpg} + ' 1200w, ' + @{/images/banner-1600.jpg} + ' 1600w'"
             sizes="100vw"
             th:alt="#{index.banner.alt}" alt=""/>
        <h2 class="container banner-text" th:text="#{index.banner}"></h2>
    </div>

    <main>
        <div class="container">
            <h1 th:text="#{index.heading}"></h1>

            <div class="accommodations">
                <a href="/ferienwohnung" class="accommodations-link">
                    <div class="pops accommodations-tile">
                        <img
                                class="accommodations-img"
                                th:src="@{images/FW-600.jpg}"
                                th:attr="srcset=@{/images/FW-600.jpg} + ' 600w, ' + @{/images/FW-400.jpg} + ' 400w'"
                                th:alt="#{apartment.altText}"
                                sizes="(max-width: 756px) 100vw, (max-width: 1200px) 50vw, 600px"
                        />
                        <div class="accommodations-overlay">
                            <h3 class="accommodations-overlay-title" th:text="#{apartment}"></h3>
                            <div class="accommodations-overlay-subtitle">
                                <div th:text="#{apartment.numberOfPeople}"></div>
                                <div th:text="#{apartment.startingPrice}"></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/ferienhaus" class="accommodations-link">
                    <div class="pops accommodations-tile">
                        <img
                                class="accommodations-img"
                                th:src="@{images/FH-600.jpg}"
                                th:attr="srcset=@{/images/FH-600.jpg} + ' 600w, ' + @{/images/FH-400.jpg} + ' 400w'"
                                th:alt="#{bungalow.altText}"
                                sizes="(max-width: 756px) 100vw, (max-width: 1200px) 50vw, 600px"
                        />
                        <div class="accommodations-overlay">
                            <h3 class="accommodations-overlay-title" th:text="#{bungalow}"></h3>
                            <div class="accommodations-overlay-subtitle">
                                <div th:text="#{bungalow.numberOfPeople}"></div>
                                <div th:text="#{bungalow.startingPrice}"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <p th:text="#{index.welcome}"></p>
            <p th:text="#{index.area}"></p>
            <p th:text="#{index.outings}"></p>
            <p th:text="#{index.centralLocation}"></p>
            <ul>
                <li th:text="#{index.destination1}"></li>
                <li th:text="#{index.destination2}"></li>
                <li th:text="#{index.destination3}"></li>
                <li th:text="#{index.destination4}"></li>
                <li th:text="#{index.destination5}"></li>
            </ul>
        </div>
    </main>

    <footer th:replace="fragments/footer :: footer"></footer>
</div>

</body>
</html>
