<!doctype html>
<html lang="de" th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{notification.bookingRequest}"></title>
</head>
<body>
    <h1 th:text="#{notification.bookingRequest}"></h1>

    <p th:text="#{notification.bookingRequestMade}"></p>
    <p><strong th:text="#{bookingForm.property}"></strong>: <span th:text="${isBungalow} ? #{bungalow} : #{apartment}"></span></p>
    <p><strong th:text="#{fullName}"></strong>: <span th:text="${booking.firstName}"></span> <span th:text="${booking.lastName}"></span></p>
    <p><strong th:text="#{address}"></strong>: <span th:text="${booking.streetLine}"></span><span th:if="${hasFullAddress}">, </span><span th:text="|${booking.zipCode} ${booking.city}|"></span></p>
    <p><strong th:text="#{dates}"></strong>: <span th:text="${booking.arrivalDate}"></span> - <span th:text="${booking.departureDate}"></span></p>
    <p><strong th:text="#{bookingForm.email}"></strong>: <a th:href="|mailto:${booking.email}|" th:text="${booking.email}"></a></p>
    <p><strong th:text="#{bookingForm.phoneNumber}"></strong>: <span th:text="${booking.phoneNumber}"></span></p>
    <p><strong th:text="#{bookingForm.comments}"></strong>: <span th:text="${booking.comments}"></span></p>
</body>
</html>
