<!doctype html>
<html lang="de" th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{bookingRequest}"></title>
</head>
<body>

    <h1 th:text="#{bookingRequest}"></h1>

    <p>
        <span th:text="#{bookingRequest.thankYou}"></span>
        <span th:text="${isBungalow} ? #{ourBungalow} : #{ourApartment}"></span>
        <span th:text="#{datesOfStay(${arrivalDate}, ${departureDate})}"></span>
    </p>

    <p th:text="#{bookingRequest.nextSteps}"></p>

    <p>
        <span th:text="#{greeting}"></span><br/>
        <span th:text="#{name}"></span>
    </p>
</body>
</html>
