<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>New Booking Request</title>
</head>
<body>
    <h1>New Booking Request</h1>

    <p>A visitor made a new booking request</p>
    <p><strong>Name</strong>: <span th:text="${booking.firstName}"></span><span th:text="${booking.firstName}"></span></p>
    <p><strong>Address</strong>: <span th:text="${booking.streetLine}"></span><span th:if="${booking.streetLine != null}">, </span><span th:text="|${booking.zipCode} ${booking.city}|"></span></p>
    <p><strong>Requested dates</strong>: <span th:text="${booking.arrivalDate}"></span> - <span th:text="${booking.departureDate}"></span></p>
    <p><strong>Email</strong>: <span th:text="${booking.email}"></span></p>
    <p><strong>Phone number</strong>: <span th:text="${booking.phoneNumber}"></span></p>
    <p><strong>Comments</strong>: <span th:text="${booking.comments}"></span></p>
</body>
</html>
